<%- include('./partials/header.ejs') %>
	<table>
	<tr>
		<th> 
			<a href="/behaviour/reporting/morning">Morning</a>
		</th>
		<th> 
			<a href="/behaviour/reporting/evening">Evening</a>
		</th>
	</tr>
	</table>
	<h2>Good morning!</h2>

	<form method="POST" action="/behaviour/reporting/morning">
		<h4>Date</h4>
    		<input type="date" id="date" name="date" value="<%= date %>" />
		<h4>Sleep Duration (hours)</h4>
		<input type="text" name="sleep_duration" value="<%= sleep_duration %>" />
		<h4>Sleep Quality (1 - very poor, 5 - excellent)</h4>
		<input type="range" name="sleep_quality" min="1" max="5" value="<%= sleep_quality %>" />
		<h4>Generic mood (1 - very poor, 5 - excellent)</h4>
		<input type="range" name="mood" min="1" max="5" value="<%= mood %>" />
		<h2></h2>
   		<input type="submit" value="Report!" />
	</form>
<% if (errors) { %>
<ul>
    <% errors.forEach((err) => { %>
            <li><%= err %></li>
    <% }); %>
</ul>
<% } %>
<%- include('./partials/footer.ejs') %>